body {
    font-family: Arial, sans-serif;
    margin: auto;
    width: 80%;
    padding: 0;
}

.post {
    border: 1px solid #fffcf0;
    background-color: #fffcf0;
    padding: 0px;
    position: relative;
}

.post p {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 700;
}

.post-number {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #555;
}

.post a {
    text-decoration: none;
    color: #888;
    font-weight: 500;
}

.post-subtext {
    margin-top: -18px;
    margin-left: 40px;
    font-size: 14px;
    color: #888;
}
