body {
    font-family: Arial, sans-serif;
    margin: auto;
    width: 80%;
    padding: 0;
}

.post {
    border: 1px solid #fffcf0;
    background-color: #fffcf0;
    padding: 0px;
    position: relative;
}

.post p {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 700;
}

.post-number {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #555;
}

.post a {
    text-decoration: none;
    color: #888;
    font-weight: 500;
}

.post-subtext {
    margin-top: -18px;
    margin-left: 40px;
    font-size: 14px;
    color: #888;
}

.nav a {
    text-decoration: none;
    color: #000000;
}

.nav {
    list-style: none;
    display: flex;
}

.nav li { 
    display: inline-flex; 
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #000000;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

.nav li:last-of-type { 
    border-right: none;
}

.header p {
    position: relative;
    left: 270px;
    text-align: right;
    margin-top: 30px;
}

.header {
    background-color: orange;
    margin-top: 10px;
    display: flex;
    padding-left: 30px;
}